body {
  background-color: #373333;
}

/* Catalog title */
.catalog__title {
  color: white;
}

/* Catalog item card */
.product {
  background-color: #555353;
  color: white;
}

/* Order basket */
.order__wrapper {
  background-color: #555353;
  color: white;
}

/* Footer */
.footer {
  background-color: #555353;
}