body {
  background-color: #373333;
}

/* Catalog title */
.catalog__title {
  color: white;
}

.catalog__block {
  background-color: #555353;
}

/* Catalog item card */
.product {
  background-color: #555353;
  color: white;
}

/* Order basket */
.order__wrapper {
  background-color: #555353;
  color: white;
}

.order__count {
  color: black;
}

.count__amount {
  color: black;
}

/* Footer */
.footer {
  background-color: #555353;
}

.footer__development {
  color: white;
}

.footer__contact {
  color: white;
}

/* Dark theme button */
.dark-theme {
  background-color: #a3a3a3;
  --color: white;
}

/* Language button */
.language__wrapper, 
.language__wrapper-small {
  background-color: #a3a3a3;
}

.language__info {
  color: white;
}

/* Modal catalog item info */
.modal-product {
  background-color: #373333;
  color: white;
}

/* Modal delivery */
.modal-delivery__container {
  color: white;
}

.modal-delivery {
  background-color: #373333;
}

.modal-delivery__radio::after {
  background-color: white;
}

.modal-delivery__input {
  background-color: #757171;
  color: white;
}

@media (min-width: 1024px) {
  .modal-delivery {
      background: url('../img/donut.svg') 19px center, linear-gradient(to right, #FFAB08 50%, #373333 50%);
      background-size: 302px, auto;
      background-repeat: no-repeat;
  }
}