.header {
    background-image: url("data:image/svg+xml, %3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E");
    background-size: 611px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 24px 0 30px;
}

.header__logo {
    
}