.language__block {
  display: flex;
  align-items: center;
  position: relative;
}

.language__wrapper, .language__wrapper-small {
  --color: black;
  --size: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  fill: var(--color);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 50%;
}

.language__wrapper-main {
  width: 48px;
  height: 48px;
  z-index: 1;
}

.language__wrapper-small {
  width: 40px;
  height: 40px;
  justify-content: center;
  position: absolute;
}

.language__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.14) 50%, transparent 100%);
  transition: left 0.3s ease;
}

.language__wrapper:hover:before {
  left: 100%;
}

.language__info {
  font-weight: 700;
  font-size: 16px;
}

.language__info-small {
  font-size: 12px;
}

@media (min-width: 1024px) {
  .language__wrapper { 
    --size: 30px;
    width: 84px;
    height: 84px;
    padding: 24px;
  }

  .language__wrapper-small {
    width: 60px;
    height: 60px;
    padding: 12px;
  }

  .language__info {
    font-size: 24px;
  }

  .language__info-small {
    font-size: 20px;
  }
}
